<!-- Clients Aside -->
    <section id="clients">
        <aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Clients</h2>
                        <h3 class="section-subheading text-muted">주요 고객사</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_samsung.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_lotte.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_newcore.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_dongwon.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_amore.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_clarins.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_skinfood.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <a href="#">
                            <img src="http://static.koalasurvey.com/khp/logo_tonymoly.png" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </aside>
    </section>