  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <img style="width: 127px;float: left;" src="http://static.koalasurvey.com/khp/koala_logo.png">
                </div>
                <div class="col-md-3">
                    <span class="copyright">Copyright &copy; {{ site.title }} <br>2011 - {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul style="list-style:none;text-align:left;">
                       <li>주소 : 서울 구로구 디지털로33길 50<br>벽산디지털밸리7차 1201호</li>
                       <li>대표이사 : 이상엽</li>
                       <li>사업자등록번호 : 580-88-00014</li>
                       <li>Email : ceo@koalaenm.com</li>
                    </ul>
                </div>
                <!--div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div-->
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">개인정보보호</a>
                        </li>
                        <li><a href="#">사용조건</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
